
<ul class="wrapper">
    <li class="icon github">
        <span class="tooltip">Github</span>
        <span><i class="fab fa-github"></i></span>
    </li>
    <li class="icon linkedin">
        <span class="tooltip">Linkedin</span>
        <span><i class="fab fa-linkedin-in"></i></span>
    </li>
    <li class="icon email">
        <span class="tooltip">Email</span>
        <span><i class="fa-solid fa-envelope"></i></span>
    </li>
</ul>
<div class="createBy">
    <p>Creado por Sofía Oribe.</p>
</div>