
<div class="titleProyects">
    <h3>Proyects</h3>
</div>

<div class="proyectsContainer">
    <div class="card card0">
      <div class="border">
        <h2>Desarrollo Web</h2>
        <div class="icons">
          <i class="fa fa-codepen" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="card card1">
      <div class="border">
        <h2>JavaScript</h2>
        <div class="icons">
          <i class="fa fa-codepen" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="card card2">
      <div class="border">
        <h2>React Js</h2>
        <div class="icons">
          <i class="fa fa-codepen" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="card card3">
        <div class="border">
          <h2>React Js</h2>
          <div class="icons">
            <i class="fa fa-codepen" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
        </div>
      </div>
  </div>