<nav>
    <div class="row containerHeader">

      <div class="col headerAccount">
        <section class="avatar">
          <img src="../../favicon.ico" alt="Mi foto de perfil">
          <div class="accountItem">
            <button>
              <i class="fa-solid fa-caret-down"></i>
            </button>
            <div class="account">
              <ul class="verticalAccount">
                <a routerLink="configuration">Configuration</a>
                <a routerLink="log">Log out</a>
              </ul>
            </div>
          </div>

        </section>
      </div>

      <div class="col headerMenu">
        <ul class="ul">
          <li ><a routerLinkActive="active" routerLink="home" >Home</a></li>
          <li ><a routerLinkActive="active" routerLink="about-me">About me</a></li>
          <li ><a routerLinkActive="active" routerLink="skills">Skills</a></li>
          <li ><a routerLinkActive="active" routerLink="certificate">Certificate</a></li>
          <li ><span><i class="fa-solid fa-pen-ruler fa-lg"></i></span></li>
        </ul>
        <span name="menu-outline" class="menuToggle" ><i class="fa-solid fa-bars fa-lg"></i></span>
      </div>

    </div>
</nav>