<div class="titles">
    <h1>Sobre mi</h1>
</div>


<div class="my-present">
    <div class="my-image">
        <img src="../../favicon.ico" alt="Mi foto">
    </div>
    <div class="my-text">
        <p>
            Hola, mi nombre es Sofía Oribe y soy desarrolladora web full stack. 
            <br><br>
            Comencé mis estudios en el ámbito de la programación en el año 2020.
            Durante mi recorrido me he encontrado con herramientas que me ayudaron a desarrollar 
            las habilidades necesarias para poder destacarme en mi profesion.
            <br><br>
            Mi objetivo principal es diseñar y construir interfeces atractivas de alto rendimiento. 
        </p>
    </div>
</div>



<div class="subtitles">
    <h2>Estudios.</h2>
</div>

<div class="information-studies">
    <div class="row-studies">
        <section class="academy study">
            <span>01.</span><h3>Desarrollo web full stack.</h3>
        </section>
        <section class="academy institute">
            <h4>Argentina Programa. <br>#YoProgramo.</h4>
            <p>09/2022 - 05/2023</p>
        </section>
    </div>
    <div class="row-studies">
        <section class="academy study">
            <span>02.</span><h3>React Js.</h3>
        </section>
        <section class="academy institute">
            <h4>Coderhouse.</h4>
            <p>01/2023 - 03/2023</p>
        </section>
    </div>
    <div class="row-studies">
        <section class="academy study">
            <span>03.</span><h3>JavaScript.</h3>
        </section>
        <section class="academy institute">
            <h4>Coderhouse.</h4>
            <p>10/2022 - 12/2022</p>
        </section>
    </div>
    <div class="row-studies">
        <section class="academy study">
            <span>04.</span><h3>Desarrollo web.</h3>
        </section>
        <section class="academy institute">
            <h4>Coderhouse.</h4>
            <p>08/2022 - 10/2022</p>
        </section>
    </div>
    
</div>

<div class="subtitles">
    <h2>Complementarios.</h2>
</div>

<div class="information-studies">
    <div class="row-studies">
        <section class="academy study">
            <span>07.</span><h3>Inglés nivel I.</h3>
        </section>
        <section class="academy institute">
            <h4>Universidad Tecnológica Nacional - UTN</h4>
            <p>03/2022 - 11/2022</p>
        </section>
    </div>
    <div class="row-studies">
        <section class="academy study">
            <span>05.</span><h3>Auxiliar Bancario.</h3>
        </section>
        <section class="academy institute">
            <h4>Instituto Privado de Capacitación - IPC</h4>
            <p>03/2022 - 07/2022</p>
        </section>
    </div>
    <div class="row-studies">
        <section class="academy study">
            <span>06.</span><h3>Data Analytics Tableau.</h3>
        </section>
        <section class="academy institute">
            <h4>DataSchool, Academia de Tableau .</h4>
            <p>01/2022 - 02/2022</p>
        </section>
    </div>
    
</div>

