<div class="titles">
    <h1>Skills</h1>
</div>

<div class="subtitles">
    <h2>Hard Skills</h2>
</div>

<div class="father-skills">

    <div class="skills">
        <div class="skills-details">
            <span>HTML</span>
            <span>90%</span>
        </div>

        <div class="skills-bar">
            <div id="html-bar"></div>
        </div>
    </div>

    <div class="skills">
        <div class="skills-details">
            <span>CSS/Sass</span>
            <span>85%</span>
        </div>

        <div class="skills-bar">
            <div id="css-bar"></div>
        </div>
    </div>

</div>

<div class="father-skills">

    <div class="skills">
        <div class="skills-details">
            <span>JavaScript</span>
            <span>30%</span>
        </div>

        <div class="skills-bar">
            <div id="javascript-bar"></div>
        </div>

    </div>

    <div class="skills">

        <div class="skills-details">
            <span>TypeScript</span>
            <span>30%</span>
        </div>

        <div class="skills-bar">
            <div id="typescript-bar"></div>
        </div>
    </div>

    <div class="skills">

        <div class="skills-details">
            <span>Java</span>
            <span>10%</span>
        </div>

        <div class="skills-bar">
            <div id="java-bar"></div>
        </div>

    </div>
</div>

<div class="father-skills">
    <div class="skills">
        <div class="skills-details">
            <span>React Js</span>
            <span>70%</span>
        </div>
        <div class="skills-bar">
            <div id="react-bar"></div>
        </div>
    </div>
    <div class="skills">
        <div class="skills-details">
            <span>Angular</span>
            <span>70%</span>
        </div>
        <div class="skills-bar">
            <div id="angular-bar"></div>
        </div>
    </div>
    <div class="skills">
        <div class="skills-details">
            <span>Bootstrap</span>
            <span>75%</span>
        </div>
        <div class="skills-bar">
            <div id="bootstrap-bar"></div>
        </div>
    </div>
</div>

<div class="subtitles">
    <h2>Soft Skills</h2>
</div>